/* ----------section---------- */
.separator {
  border-bottom: none;
  margin-bottom: 0px;
}
/* ------------------------------主頁橫幅------------------------------ */
.hero-section {
  background: url("../IMG/welcome.jpg") top/cover; /* 從最上面開始顯示，填滿整個元素 */
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slogan {
  height: 169px;
  color: #f8f8f8;
  padding: 10px;
}
@media (max-width: 1200px) {
  .slogan {
    padding: 20px;
  }
}

.slogan h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  margin-bottom: 15px;
}

.slogan p {
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  max-width: 460px;
}
@media (max-width: 720px) {
  .search-bar {
    width: 285px;
  }
}

.search-input {
  width: 100%;
  height: 46px;
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  /* 輸入框字體調整 */
  font-family: "Noto Sans TC", sans-serif;
  color: #757575;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 720px) {
  .search-input {
    min-width: 225px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #448899;
  width: 60px;
  cursor: pointer;
}
@media (max-width: 720px) {
  .search-input {
    width: 60px;
  }
}

/* ------------------------------list bar------------------------------ */
.list-bar {
  display: flex;
  margin: 40px auto 20px auto;
}

.list {
  display: flex;
  margin: 13px 10px;
  overflow: hidden; /* 把li多出來的部分隱藏 */
  max-width: 1106px;
}

.list li {
  white-space: nowrap; /* 文字不換行 */
  padding: 5px 15px;
  line-height: 14px;
  cursor: pointer;
}
.list li:hover {
  color: black;
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 47px;
  padding: 0px;
}

.image-container {
  position: relative;
  display: flex;
}
.left-arrow {
  justify-content: flex-end;
}
.right-arrow {
  justify-content: flex-start;
}

/* https://ithelp.ithome.com.tw/articles/10228234 */
.default-image,
.hovered-image {
  position: absolute;
  transform: translateY(-50%); /* 向上平移50%，垂直置中 */
  transition: opacity 0.5s;
}

.prev-button .hovered-image,
.next-button .hovered-image {
  opacity: 0; /*透明度*/
}

.prev-button:hover .hovered-image,
.next-button:hover .hovered-image {
  opacity: 1;
}

.prev-button:hover .default-image,
.next-button:hover .default-image {
  opacity: 0;
}

/* ------------------------------景點------------------------------ */
.attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
  margin-bottom: 144px; /* 40+footer高104 */
}
@media (max-width: 720px) {
  .attractions {
    padding: 15px 19px 0px 19px;
  }
}

.attraction {
  width: calc((100% - 90px) / 4); /*30px*3=90px*/
  height: 242px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #e8e8e8; /* 添加邊框樣式 */
  overflow: hidden; /* 把圖片多出來的部分隱藏 */
  cursor: pointer;
}
@media (max-width: 1200px) {
  .attraction {
    width: calc((100% - 60px) / 3); /*30px*2=60px*/
  }
}
@media (max-width: 900px) {
  .attraction {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 720px) {
  .attraction {
    width: 100%;
    height: 280px;
  }
}

.attraction img {
  object-fit: cover; /* 填滿容器、保持比例 */
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.attraction img:hover {
  transform: scale(1.1);
}

.detail-1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  bottom: 45px; /* 從底部對齊detail-2上方 */
  width: 100%;
  z-index: 1;
  font-size: 15px; /*字體要微調，不然會塞不下字*/
}

.detail-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 45px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 0;
  background-color: #ffffff;
}

/* 查無景點訊息樣式 */
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

/* ------------------------------頁尾------------------------------ */
.footer {
  width: 100%;
  background-color: #757575;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}
.footer p {
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}
