/* https://fonts.google.com/noto/specimen/Noto+Sans+TC*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif; /* 字體預設寬400 */
  font-size: 16px;
  color: #666666;

  position: relative;
  min-height: 100vh;
}

/* * {
  outline: 1px solid red;
} */
.container {
  /* max-width: 1920px; 如果有要求最大寬度為1920px*/
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.max-width {
  max-width: 1200px;
  width: 100%;
}
/* ----------------------註冊、登入視窗------------------------- */
/* 灰色覆蓋層 */
.dialog-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 半透明的灰色 */
  z-index: 3;
}

/* 登入視窗 */
.dialog {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 340px;
  height: 275px;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0px 4px 60px 0px #aaaaaa; /*外陰影*/
  border-radius: 6px;
  overflow: hidden;
}
/* 註冊視窗 */
.dialog.signup {
  height: 332px;
}

.decorator-bar {
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  height: 10px;
}

.dialog-main {
  padding: 15px;
  text-align: center;
}

.dialog-main img {
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}

.dialog-main h2 {
  font-weight: 700;
  line-height: 27px;
  font-size: 24px;
  margin-bottom: 15px;
}

.dialog-main input {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 22px;
  width: 310px;
  height: 47px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dialog-main .signin-btn,
.dialog-main .signup-btn {
  background-color: #448899;
  color: #ffffff;
  font-weight: 400;
  font-size: 19px;
  width: 310px;
  height: 47px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.dialog-main .login-btn,
.dialog-main .register-btn {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

/* ------------------------------導覽列------------------------------ */
/* https://ithelp.ithome.com.tw/articles/10241079 */
.frozen {
  position: sticky;
  top: 0; /* 固定在最上面 */
  background-color: #ffffff;
  z-index: 2; /* 在所有層級之上 */
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.navigation a {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .navigation p {
    margin-left: 10px;
  }
}

.navigation-button {
  display: flex;
  max-width: 175px;
  max-height: 34px;
}

.button {
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}
.button:hover {
  color: black;
}
/* ------------------------------主頁橫幅------------------------------ */
.hero-section {
  background: url("../IMG/welcome.jpg") top/cover; /* 從最上面開始顯示，填滿整個元素 */
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slogan {
  height: 169px;
  color: #f8f8f8;
  padding: 10px;
}
@media (max-width: 1200px) {
  .slogan {
    padding: 20px;
  }
}

.slogan h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  margin-bottom: 15px;
}

.slogan p {
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  max-width: 460px;
}
@media (max-width: 720px) {
  .search-bar {
    width: 285px;
  }
}

.search-input {
  width: 100%;
  height: 46px;
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  /* 輸入框字體調整 */
  font-family: "Noto Sans TC", sans-serif;
  color: #757575;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 720px) {
  .search-input {
    min-width: 225px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #448899;
  width: 60px;
  cursor: pointer;
}
@media (max-width: 720px) {
  .search-input {
    width: 60px;
  }
}

/* ------------------------------list bar------------------------------ */
.list-bar {
  display: flex;
  margin: 40px auto 20px auto;
}

.list {
  display: flex;
  margin: 13px 10px;
  overflow: hidden; /* 把li多出來的部分隱藏 */
  max-width: 1106px;
}

.list li {
  white-space: nowrap; /* 文字不換行 */
  padding: 5px 15px;
  line-height: 14px;
  cursor: pointer;
}
.list li:hover {
  color: black;
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 47px;
  padding: 0px;
}

.image-container {
  position: relative;
  display: flex;
}
.left-arrow {
  justify-content: flex-end;
}
.right-arrow {
  justify-content: flex-start;
}

/* https://ithelp.ithome.com.tw/articles/10228234 */
.default-image,
.hovered-image {
  position: absolute;
  transform: translateY(-50%); /* 向上平移50%，垂直置中 */
  transition: opacity 0.5s;
}

.prev-button .hovered-image,
.next-button .hovered-image {
  opacity: 0; /*透明度*/
}

.prev-button:hover .hovered-image,
.next-button:hover .hovered-image {
  opacity: 1;
}

.prev-button:hover .default-image,
.next-button:hover .default-image {
  opacity: 0;
}

/* ------------------------------景點------------------------------ */
.attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
  margin-bottom: 144px; /* 40+footer高104 */
}
@media (max-width: 720px) {
  .attractions {
    padding: 15px 19px 0px 19px;
  }
}

.attraction {
  width: calc((100% - 90px) / 4); /*30px*3=90px*/
  height: 242px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #e8e8e8; /* 添加邊框樣式 */
  overflow: hidden; /* 把圖片多出來的部分隱藏 */
}
@media (max-width: 1200px) {
  .attraction {
    width: calc((100% - 60px) / 3); /*30px*=60px*/
  }
}
@media (max-width: 900px) {
  .attraction {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 720px) {
  .attraction {
    width: 100%;
    height: 280px;
  }
}

.attraction img {
  object-fit: cover; /* 填滿容器、保持比例 */
  height: 100%;
  width: 100%;
}

.detail-1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  bottom: 45px; /* 從底部對齊detail-2上方 */
  width: 100%;
  z-index: 1;
  font-size: 15px; /*字體要微調，不然會塞不下字*/
}

.detail-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 45px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 0;
  background-color: #ffffff;
}

/* 查無景點訊息樣式 */
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

/* ------------------------------頁尾------------------------------ */
.footer {
  width: 100%;
  background-color: #757575;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}
.footer p {
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}
