{% extends "base.html" %}
<!-- title -->
<title>{% block title %}景點｜台北一日遊{% endblock %}</title>
<!-- CSS -->
{% block CSS %}
<link rel="stylesheet" href="../static/CSS/attraction.css" />
<link
  href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css"
  rel="stylesheet"
/>
{% endblock %}
<!-- body -->
{% block body %}
<div class="container">
  <div class="max-width">
    <div class="section">
      <div class="basic w540 basic1">
        <div class="image-container left-arrow">
          <img
            class="btn_left default-image"
            src="../static/IMG/Default_left_arrow.png"
            alt="預設上一張"
          />
          <img
            class="btn_left hovered-image"
            src="../static/IMG/Hovered_left_arrow.png"
            alt="移入上一張"
            onclick="changeImage('prev')"
          />
        </div>
        <img class="images" src="" alt="景點圖片" />
        <img
          class="loading-spinner"
          src="../static/IMG/loading-spinner.gif"
          alt="Loading..."
        />

        <div class="circle-container"></div>

        <div class="image-container right-arrow">
          <img
            class="btn_right default-image"
            src="../static/IMG/Default_right_arrow.png"
            alt="預設下一張"
          />
          <img
            class="btn_right hovered-image"
            src="../static/IMG/Hovered_right_arrow.png"
            alt="移入下一張"
            onclick="changeImage('next')"
          />
        </div>
      </div>

      <div class="basic w600 basic2">
        <h1 class="attractionName"></h1>
        <span class="category"></span>
        at
        <span class="mrt"></span>
        <div class="booking-form">
          <h3>訂購導覽行程</h3>
          <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
          <form class="date">
            <h3>選擇日期：</h3>
            <input
              type="text"
              name="date"
              class="date-input"
              placeholder="yyyy/mm/dd"
              onclick="openFlatpickr()"
            />
          </form>
          <h3>
            選擇時間：
            <div class="am">
              <img
                src="../static/IMG/btn.png"
                alt=""
                class="am_btn"
                onclick="timeButton('am_btn')"
              />
              <p>上半天</p>
            </div>
            <div class="pm">
              <img
                src="../static/IMG/btn.png"
                alt=""
                class="pm_btn"
                onclick="timeButton('pm_btn')"
              />
              <p>下半天</p>
            </div>
          </h3>
          <h3>
            導覽費用：
            <p class="exp"></p>
          </h3>
          <button onclick="submitBooking()">開始預約行程</button>
        </div>
      </div>
    </div>
    <div class="hr"></div>
    <div class="infors">
      <p class="description"></p>
      <h3>景點地址：</h3>
      <p class="address"></p>
      <h3>交通方式：</h3>
      <p class="transport"></p>
    </div>
  </div>
</div>
{% endblock %}
<!-- JS -->
{% block JS %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<script src="../static/JS/attraction.js"></script>
{% endblock %}
